{{!-- <div id="giphy-image-randomizer">
  <img>
  <button id="get-new-gif">Get another GIF</button>
</div>

<form action="/story/{{story._id}}" method="POST">
    <input id="image_url" type="hidden" name="image_url" value="">
  {{#if middle}}
    <label>Introduce el verbo y complemento directo/indirecto de la historia para continuarla</label>
    <input id="content" type="text" name="content">
    <button>Continua la historia</button>
  {{else}}
    <label>Introduce los complementos circunstanciales de la historia para acabarla</label>
    <input id="content" type="text" name="content">
    <button>Acaba la historia</button>
  {{/if}}
</form>


<script src="/javascripts/getGif.js"></script> --}}



<header id="giphy-image-randomizer">
  <div class="image-box">
    <div>
      <img>
    </div>
    <button id="get-new-gif">Cambia de GIF</button>
  </div>
</header>
<main>
  <div class="container">
    <h2>¡Continua la historia!</h2>
    {{#if middle}}
      <p>¿Cuál es la acción?</p>
    {{else}}
      <p>¿Cuál es la situación?</p>
    {{/if}}
  <form action="/story/{{story._id}}" method="POST">
    <input id="image_url" type="hidden" name="image_url" value="">
    <input id="content" type="text" name="content" autofocus>
    {{#if middle}}
      <button id="collab-button">Añadir</button>
    {{else}}
      <button id="collab-button">Acaba la historia</button>
    {{/if}}
  </form>
  </div>
</main>

<script src="/javascripts/getGif.js"></script>