<header class="finished-story-header">
  <h2>La historia</h2>
  <div class="finished-story-images">
    {{#each story.collaborations}}
    <div class="final-gif">
      <img src="{{image_url}}">
    </div>
    {{/each}}
  </div>
</header>
<main>
  <div class="container">
    <div>
      <h2>THE STORY:</h2>
      <p>
        {{#each story.collaborations}}
        {{content}}
        {{/each}}
      </p>
    </div>
    <div>
      <h3>THE AUTHORS:</h3>
      <p>
        {{#each story.collaborations}}
        {{user.username}}
        {{/each}}
      </p>
    </div>
  </div>
  <div class="container">
    <div class="comment-creation">
      <h3>Añade un comentario</h3>
      <form action="/story/{{story._id}}/newcomment" method="POST">
        <input id="comment-content" type="text" name="content" placeholder="Tu comentario...">
        {{#if message }}
          <div class="error-message">{{ message }}</div>
        {{/if}}
        <button class="addcomment">Enviar</button>
      </form>
    </div>
    <div class="comments-container">
      {{#each comments}}
        {{> comment}}
      {{/each}}
    </div>
  </div>
</main>